.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 500px;
    text-align: center;
    margin:100px auto;
    height: 500px;
    font-family: sans-serif;
    background-color: #3b4a66;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px #bdb3b3;
}
.login h1{
    font-size: 70px;
    font-weight: 900;
    margin-top: 80px;
}
.login input{
    font-size: 20px;
    padding: 18px 20px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background: transparent;
    color: #ffffff;
    margin: 30px 30px;
    margin-bottom: 20px;
}
.login button{
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #4a3f3f;
    color: #524f4f;
    padding: 10px 30px;
}
.login button:hover{
    background: #aec2e6;
    color: white;
}